<h2 mat-dialog-title>Add new todo</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <p><mat-slide-toggle  [(ngModel)]="data.completed">Is Completed!</mat-slide-toggle></p>
<mat-dialog-actions>
  <button mat-button (click)="submit()">Create</button>
  <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
